/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

head, body{
	margin: 0;
	padding: 0;
}

.main *{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
	box-sizing: border-box;
}

.main{
	height: calc(100vh - 120px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/DoShop/image/find_password_wallpaper.jpg');
	background-position: center;
	background-size: cover;
}

.main .pannel{
	width: 100%;
	height: calc(100vh - 120px);
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.main .inner{
	position: relative;
	z-index: 10;
}

.main .choice_box{
	display: flex;
	justify-content: center;
	align-items: center;
	/* display: none; */
}

.main .select{
	width: 150px;
	height: 150px;
	margin: 15px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	border: solid 3px rgb(0, 0, 0);
	font-size: 1.4rem;
	word-break: keep-all;
	cursor: pointer;
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.5);
	text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

.main .select:hover{
	font-size: 1.5rem;
}

.main .phone_box{
	width: 350px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	display: none;
}

.main .phone_title{
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	font-size: 3rem;
	color: white;
	user-select: none;
	text-shadow: -1px 0 rgb(141, 154, 226), 0 1px rgb(141, 154, 226), 1px 0 rgb(141, 154, 226), 0 -1px rgb(141, 154, 226);
}

.main .frame_style{
	width: 78%;
	margin-bottom: 8px;
	padding: 3px 3px;
	border: 1;
	outline: none;
	font-size: 1.2rem;
	border: solid 2px rgb(141, 154, 226);
	background-color: white;
	text-align: center;
}

.main .button_style{
	width: 20%;
	margin-bottom: 8px;
	height: 40px;
	margin-left: 5px;
	border: solid 2px rgb(141, 154, 226);
	outline: none;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

.main .timer{
	width: 100%;
	color: white;
}

.main .button_other{
	margin-top: 8px;
	border: none;
	border-bottom: solid 1px white;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	cursor: pointer;
}

.main .email_box{
	width: 350px;
	display: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main .email_title{
	width: 100%;
	margin-bottom: 20px;
	color: white;
	font-size: 3rem;
	text-align: center;
	text-shadow: -1px 0 rgb(141, 154, 226), 0 1px rgb(141, 154, 226), 1px 0 rgb(141, 154, 226), 0 -1px rgb(141, 154, 226);
}

.main .email_text{
	width: 100%;
	color: white;
	text-align: center;
}

.main .input_email, .main .button_email{
	margin-top: 20px;
}