/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

head, body{
	margin: 0;
	padding: 0;
}

.main *{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
}

.main{
	height: calc(100vh - 120px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url('/DoShop/image/find_password_wallpaper.jpg');
	background-position: center;
	background-size: cover;
}

.main .pannel{
	width: 100%;
	height: calc(100vh - 120px);
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.main .inner{
	position: relative;
	z-index: 10;
}

.main .title{
	font-size: 3rem;
	margin-bottom: 30px;
	user-select: none;
	color: white;
	text-shadow: -2px 0 rgb(141, 154, 226), 0 2px rgb(141, 154, 226), 2px 0 rgb(141, 154, 226), 0 -2px rgb(141, 154, 226);
	text-align: center;
}

.main .info{
	text-shadow: -1px 0 rgb(141, 154, 226), 0 1px rgb(141, 154, 226), 1px 0 rgb(141, 154, 226), 0 -1px rgb(141, 154, 226);
	color: white;
	margin-bottom: 5px;
}

.main .input_wrap{
	display: flex;
	font-size: 1.2rem;
}

.main .input_email{
	width: 300px;
	padding: 10px 5px;
    border: solid 2px rgb(141, 154, 226);
	border-radius: 5px;
	outline: none;
	font-size: 1.2rem;
}

.main .submit_email{
	margin-left: 5px;
	padding: 0 2px;
	background-color: rgba(255, 255, 255, 1);
	font-size: 1.2rem;
    border: solid 2px rgb(141, 154, 226);
	border-radius: 5px;
	outline: none;
}

.main .errorMessage{
	color: white;
}