/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

head, body{
    font-family: 'Gaegu', cursive;
    padding: 0;
    margin: 0;
}

.main *{
    font-family: 'Gaegu', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.main{
	width: 100%;
	height: calc(100vh - 120px);
	position: relative;
	background-image: url('/DoShop/image/congratulation_wallpaper.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	justify-content: center;
	align-items: center;
}

.main .pannel{
	width: 100%;
	height: calc(100vh - 120px);
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.main .wrap{
	width: 70%;
	height: 500px;
	position: relative;
	z-index: 10;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main .title{
	font-size: 3rem;
	color: white;
	user-select: none;
}

.main .link{
	margin-top: 30px;
	border-bottom: solid 1px white;
	color: white;
	text-decoration: none;
	user-select: none;
	font-size: 1.5rem;
}
