/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

head, body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.main *{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.main{
	width: 100%;
	height: calc(100vh - 120px);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/DoShop/image/NoticeEmail_wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: conver;
	background-position: center;
}

.main .pannel{
	width: 100%;
	height: calc(100vh - 120px);
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.main .container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	z-index: 10;
}

.main .title{
	font-size: 2rem;
    color: white;
}

.main .notice{
	margin-top: 20px;
	text-align: center;
	font-size: 1.5rem;
    color: white;
}

.main .link{
	margin-top: 20px;
	font-size: 1rem;
	text-decoration: none;
    color: white;
    border-bottom: solid 1px white;
}